
<!DOCTYPE html>
{% load static %}
<style>
    body{
        background-color: black;
        color: white;
    }
    ul#menu {
        padding: 0
    }
    ul#menu li {
        display: inline;
    }
    ul#menu li a {
        background-color: #1eb22a;
        color: #30352f;
        padding: 5px 10px;
        text-decoration: none;
        font: 700 15px cursive;
        border-radius: 4px 4px 0 0;
    }
    ul#menu li a:hover {
        background-color: #30352f;
        color: #1eb22a;
        font: 700 18px fantasy;
        border-radius: 4px 4px 0 0;
    }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Evaluate</title>
</head>
<body>

<center>
    <h1 >Player Evaluation</font></h1>
    <ul id="menu">
        <li><a href="{% url 'user_home' %}">Home</a></li>
        <li><a href="{% url 'user_query_add' %}">Evaluation</a></li>
         <li><a href="{% url 'user_query_view' %}">History</a></li>
        <li><a href="{% url 'user_settings' %}">Settings</a></li>
        <li><a href="{% url 'user_login' %}">Logout</a></li>
    </ul>

    <h2> Evaluate</font></h2>

    <form name="frm" action="{% url 'user_query_add' %}" method="post">
            {% csrf_token %}
        <table>
	        <tr>
	            <td>Age</td>
	            <td><input type="text"  name="age" placeholder="age 32" required="required"></td>
                <td>Height</td>
	            <td><input type="text"  name="height_cm" placeholder="height 170" required="required"></td>
                <td>Weight</td>
	            <td><input type="text"  name="weight_kg" placeholder="weight 72" required="required"></td>
	        </tr>
            <tr>
	            <td>Position</td>
	            <td><input type="text"  name="player_positions" placeholder="player positions RW, CF, ST" required="required"></td>
                <td>Week Foot</td>
	            <td><input type="text"  name="weak_foot" placeholder="week foot 4" required="required"></td>
	        </tr>
            <tr>
                <td>Skill Moves</td>
	            <td><input type="text"  name="skill_moves" placeholder="skill moves 4" required="required"></td>
                <td>Attacking Crossing</td>
	            <td><input type="text"  name="attacking_crossing" placeholder="attacking crossings 88" required="required"></td>
                <td>Attacking Finishing</td>
	            <td><input type="text"  name="attacking_finishing" placeholder="attacking finishing 95" required="required"></td>
	        </tr>
            <tr>
                <td>Attacking Head Accuracy</td>
	            <td><input type="text"  name="attacking_heading_accuracy" placeholder="attacking head accuracy 70" required="required"></td>
                <td>Attacking Short Passing</td>
	            <td><input type="text"  name="attacking_short_passing" placeholder="attacking short passing 92" required="required"></td>
                <td>Attacking Volleys</td>
	            <td><input type="text"  name="attacking_volleys" placeholder="attacking volleys 88" required="required"></td>
	        </tr>
            <tr>
                <td>Skill Dribbling</td>
	            <td><input type="text"  name="skill_dribbling" placeholder="skill dribbling 97" required="required"></td>
                <td>Skill Curve</td>
	            <td><input type="text"  name="skill_curve" placeholder="skill curve 93" required="required"></td>
                <td>Skill Free Kick Accuracy</td>
	            <td><input type="text"  name="skill_fk_accuracy" placeholder="free kick accuracy 94" required="required"></td>
	        </tr>
            <tr>
                <td>Skill Long Passing</td>
	            <td><input type="text"  name="skill_long_passing" placeholder="skill long passing 92" required="required"></td>
                <td>Skill Ball Control</td>
	            <td><input type="text"  name="skill_ball_control" placeholder="skill ball control 96" required="required"></td>
                <td>Movement Acceleration</td>
	            <td><input type="text"  name="movement_acceleration" placeholder="movement acceleration 91" required="required"></td>
	        </tr>
            <tr>
                <td>Movement Sprint Speed</td>
	            <td><input type="text"  name="movement_sprint_speed" placeholder="sprint speed 84" required="required"></td>
                <td>Movement Agility</td>
	            <td><input type="text"  name="movement_agility" placeholder="movement agility 93" required="required"></td>
                <td>Movement Reactions</td>
	            <td><input type="text"  name="movement_reactions" placeholder="movement reactions 95" required="required"></td>
	        </tr>
            <tr>
                <td>Movement balance</td>
	            <td><input type="text"  name="movement_balance" placeholder="movement balance 95" required="required"></td>
                <td>Power Shot Power</td>
	            <td><input type="text"  name="power_shot_power" placeholder="power shot power 86" required="required"></td>
                <td>Power Jumping</td>
	            <td><input type="text"  name="power_jumping" placeholder="power jumping 68" required="required"></td>
	        </tr>
            <tr>
                <td>Power Stamina</td>
	            <td><input type="text"  name="power_stamina" placeholder="power stamina 75" required="required"></td>
                <td>Power Strength</td>
	            <td><input type="text"  name="power_strength" placeholder="power strength 68" required="required"></td>
                <td>Power Long Shots</td>
	            <td><input type="text"  name="power_long_shots" placeholder="power long shots 94" required="required"></td>
	        </tr>
            <tr>
                <td>Mentality Aggression</td>
	            <td><input type="text"  name="mentality_aggression" placeholder="mentality aggression 48" required="required"></td>
                <td>Mentality Interceptions</td>
	            <td><input type="text"  name="mentality_interceptions" placeholder="mentality interceptions 40" required="required"></td>
                <td>Mentality Positioning</td>
	            <td><input type="text"  name="mentality_positioning" placeholder="mentality positioning 94" required="required"></td>
	        </tr>

            <tr>
                <td>Mentality Vision</td>
	            <td><input type="text"  name="mentality_vision" placeholder="mentality vision 94" required="required"></td>
                <td>Mentality Penalities</td>
	            <td><input type="text"  name="mentality_penalties" placeholder="mentality penalities 75" required="required"></td>
                <td>Mentality Composture</td>
	            <td><input type="text"  name="mentality_composure" placeholder="mentality composture 96" required="required"></td>
	        </tr>

            <tr>
                <td>Defending Marking</td>
	            <td><input type="text"  name="defending_marking" placeholder="defending marking 33" required="required"></td>
                <td>Defending Standing Tackle</td>
	            <td><input type="text"  name="defending_standing_tackle" placeholder="defending stating tackle 37" required="required"></td>
                <td>Defending Sliding Tackle</td>
	            <td><input type="text"  name="defending_sliding_tackle" placeholder="defending sliding tackle 26" required="required"></td>
	        </tr>

            <tr>
                <td>Goalkeeping Diving</td>
	            <td><input type="text"  name="goalkeeping_diving" placeholder="goalkeeping diving 6" required="required"></td>
                <td>Goalkeeping Handling</td>
	            <td><input type="text"  name="goalkeeping_handling" placeholder="goal keeping handling 11" required="required"></td>
                <td>Goalkeeping  Kicking</td>
	            <td><input type="text"  name="goalkeeping_kicking" placeholder="goalkeeping kicking 15" required="required"></td>
	        </tr>

            <tr>
                <td>Goalkeeping Positioning</td>
	            <td><input type="text"  name="goalkeeping_positioning" placeholder="goalkeeping positioning 14" required="required"></td>
                <td>Goalkeeping Relexes</td>
	            <td><input type="text"  name="goalkeeping_reflexes" placeholder="goalkeeping reflexes 8" required="required"></td>

	        </tr>

            <tr>
	            <td></td>
                <td></td>
                <td></td>
	            <td><button type="submit" >SUBMIT</button></td>
                <td></td>
                <td></td>
	        </tr>
	    </table>

    </form>
    <h2>{{msg}} {{estimate}}</h2>
     <h2>{{msg2}} {{overall}}</h2>
</center>
</body>
</html>